# InvDetect Requirements
# Python 3.11.3

# Screenshot und Maus-Steuerung
pyautogui==0.9.54
Pillow==10.1.0

# OCR (Tesseract)
pytesseract==0.3.10

# Hotkey Listener
keyboard==0.13.5

# Bild-Verarbeitung
numpy==1.26.2
